include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- menu
				//+menu
				div#menu
			
				//- banner modulo 1
				+banner
				
				h1 Presentaci贸n PPT M贸dulo 1 Introducci贸n y conceptualizaci贸n
				+video('https://view.officeapps.live.com/op/embed.aspx?src=https://ubosquemoodle.unbosque.edu.co/diseno/cursos/turismo-territoriales/PDF/mod-1/Presentacion-Modulo-1.pptx')
				
				//- Material modulo
				+material-modulo('material-mod-1')
				
				//- progreso y contador
				+paginador-menu
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			