// -----------------------
// banner home
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.footer{
		background: none;
	    max-width: 21rem;
	    margin: 2rem auto;
	    float: none;
	    box-sizing: border-box;
	    text-align: center;
	    font-size: 13px;
	}
	
}