// -----------------------
// tables
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.table{
		
		border-top: 1px solid $color_brand_orange;
		border-bottom: 1px solid $color_brand_orange;
		padding: 1rem 0;
		box-sizing: border-box;
		margin: 4rem auto;
		width: auto;
		
		caption{
			font: 22px $font_myr_semibold;
			color: $color_brand_orange;
			font-style: italic;
		}
		
		thead{
			th{
				background: $color_brand_orange;
				color: $color_white;
				border-left: 1px solid $color_white;
				border-right: 1px solid $color_white;
				font-family: $font_myr_semibold;
				vertical-align: middle;
				text-align: center;
				
				&:first-child{
					border-left: 0px;
				}
				
				&:last-child{
					border-right: 0px;
				}
				
			}
		}
		
		tr{
			
			td{
				border-top: 1px solid $color_brand_orange;
				border-bottom: 1px solid $color_brand_orange;
				border-left: 1px solid $color_brand_orange;
				border-right: 1px solid $color_brand_orange;
				font-family: $font_hel_light_cond;
				line-height: initial;
				text-align: center;
				padding: 0.5rem 0.4rem;
				
				&:first-child{
					border-left: 0px;
				}
				
				&:last-child{
					border-right: 0px;
				}
				
				ul,
				ol{
					padding-left: 2rem;
					margin: 0 !important; 
					li{
						text-align: left;
						
					}
				}
				
			}
			
			&:nth-child(even){
				
				td{
					background: $color_light_green;
				}
				
			}
			
			&:last-child{
				
				td{
					border-bottom: 0px;
				}
				
			}
			
		}
		
	}
	
}